%h1 FreeRelic Dashboard
.wrapper
  .metrics_paths
    %h3 Application Paths
    - @paths.each do |path|
      = path
      %br

  .metrics_block
    %h3 Latest Metrics
    - @latest_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration

        %br
        %hr

  .metrics_block
    %h3 Slowest SQL Metrics
    - @slowest_sql_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        %br
        %hr

  .metrics_block
    %h3 Slowest HTTP Metrics
    - @slowest_http_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        %br
        %hr
