%h1 FreeRelic Dashboard
.wrapper{:style => "margin:0;padding:0;"}
  .block{:style => "float:left; width:470px;border:1px solid black"}
    %h3 Latest Metrics
    - @latest_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration

        %br
        %hr

  .block{:style => "float:left; width:470px;margin-left:20px;border:1px solid black"}
    %h3 Slowest SQL Metrics
    - @slowest_sql_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        %br
        %hr

  .block{:style => "float:left; width:470px;border:1px solid black"}
    %h3 Slowest HTTP Metrics
    - @slowest_http_metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        %br
        %hr
