%h1= @page_title
.wrapper
  .metrics_paths
    %h3 Application Paths
    - @paths.each do |path|
      = path
      %br
  .metrics_block
    %h3= @page_title
    - @metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        = link_to 'Destroy', free_relic_metric_path(metric), :confirm => 'Are you sure?', :method => :delete, :remote => true
        %br
        - i = 1
        - metric.payload.each do |k, v|
          %p
            %b= k.humanize
            %br
            = v
        %hr
        
      
    = paginate @metrics