<h1>Listing SQL Metrics</h1>

<table cellspacing="10">
  <tr>
    <th>Name</th>
    <th>Duration</th> 
    <th>Started at</th>
    <th>Payload</th>
    <th></th>
  </tr>
  
  
  <% @metrics.each do |metric| %>
    <tr>
      <td><%= metric.name %></td>
      <td><%= metric.duration %>us</td>
      <td><%= time_ago_in_words metric.started_at %> ago</td>
      <td>
        <% metric.payload.each do |k, v| %>
          <p><b><%= k.humanize %></b><br /> <%= v %></p>
        <% end %>
      </td>
      <td><%= link_to 'Destroy', free_relic_metric_path(metric),
        :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
