.wrapper
  .block{:style => "float:left; width:470px"}
    %h3= @page_title
    - @metrics.each do |metric|
      .metric
        %b= metric.name
        %br
        %b Duration:
        = metric.duration
        = link_to 'Destroy', free_relic_metric_path(metric), :confirm => 'Are you sure?', :method => :delete, :remote => true
        %br
        %hr
        
      
    = paginate @metrics