%h1 Listing Metrics

%table
  %tr
    %th Name
    %th Duration
    %th Started at
    %th Payload
    %th

  - @sql_metrics.each do |metric|
    %tr{:data => {:id => metric.id}}
      %td= metric.name
      %td
        = "%.3f" % metric.duration
        us
      %td
        = time_ago_in_words metric.started_at
        ago
      %td
        - metric.payload.each do |k, v|
          %p
            %b= k.humanize
            %br
            = v
      %td
        = link_to 'Destroy', free_relic_sqlmetric_path(metric), :confirm => 'Are you sure?', :method => :delete, :remote => true

= paginate @sql_metrics

