!!! 5
%html
  %head
    %meta{:charset => "UTF-8"}
    = stylesheet_link_tag "../free_relic_public/stylesheets/styles", :media => "screen"
    = javascript_include_tag "http://www.google.com/jsapi"
    :javascript
      google.load("jquery", "1.4");
    = javascript_include_tag "../free_relic_public/javascripts/free_relic"
    = javascript_include_tag "../free_relic_public/javascripts/rails"
    = csrf_meta_tag
  
    %title
      = yield(:title)

  %body
    #container
      #flash_notice{:style=>'display:none;'}
      = render_navigation
      .menu
        .topline
          %ul
            %li
              = link_to 'All Metrics', "#{free_relic_index_path}/metrics/"
            %li
              = link_to 'SQL Metrics', "#{free_relic_index_path}/metrics/sql"
            %li
              = link_to 'HTTP Metrics', "#{free_relic_index_path}/metrics/http"

      = yield
    

